# Data (raw dataset should not be committed if license restricts redistribution; small CSVs are usually fine, but keep this as a safe default)
data/raw/*
!data/raw/.gitkeep

# Jupyter
.ipynb_checkpoints/
*.ipynb_meta

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# OS / Editor
.DS_Store
.vscode/
.idea/

# SQLite db files
*.db
*.sqlite3
